@'
{% extends "core/base.html" %}
{% block title %}Sedang Diproses{% endblock %}

{% block content %}
<div class="card">
  <div class="header">
    <h1>Sedang Diproses</h1>
    <p>{{ lr.get_letter_type_display }}</p>
  </div>

  <div class="content">
    <div class="help">⏳ Pengajuan anda diproses. Harap tunggu.</div>

    <div style="margin-top:12px;">
      <a class="btn" href="{% url 'pengajuan_berhasil' %}" style="text-decoration:none;text-align:center;">Lanjut</a>
    </div>
  </div>
</div>
{% endblock %}
'@ | Set-Content -Encoding UTF8 core\templates\core\diproses.html
